
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*SHARED STYLES*/
.bg_color{
    background-color: #f8e9d9;
}
main > section{
    margin-top: 130px;
}

/* .dis_flex{
    display: flex;
} */
.dark_1{
    color: #131313;
 }
.dark_2{
    color: #424242;
}
.dark_3{
    color: #727272;
}
.orange{
    color: #FF900E;
}


/*Header styles*/
.brand_name{
    font-weight: 700;
    font-size: 2.8rem;  /*16px = 1 rem so 45px = 2.8rem. used rem for responsive*/
}
.navbar{
   display: flex; 
   justify-content: space-between;
   align-items: center;
}
.nav_ul{ 
    display: flex;
    
    
}
.nav_li, .nav_li a{  
    list-style: none;

    margin-right: 30px;
    text-decoration: none; /*s*/
    font-weight: 500;
    font-size: 18px;

}

.navbar, .banner{
    max-width: 1440px;  /*just image + nav bar j ongshe ase oitar sz nisi banner image thk (1440*727) max e dye disi*/
    margin: 0 auto;
}

.banner_content{
    max-width: 850px;  /*862*225 na dye max e dye disi*/
    margin: 0 auto;
    text-align: center;

    margin-bottom: 50px;  /*button er niche na dye ekhane full div er niche dye disi*/
}
.banner_title{
    font-weight: 700;
    font-size: 4rem;
}
.banner_descp{
    font-weight: 400;
    font-size: 1rem;
}
.btn_primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
.banner_img{
    width: 100%;    /*To make responsive the image width 100% dc*/
    
    margin-bottom: 2.8rem;
}


/*Main Style*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams_feature{
    display: flex;
    align-items: center;
}
.team_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px; 
}
.our_feature{
    margin-left: 73px;
    max-width: 530px;
    /* border: 1px solid black; */
}
.quick_list{
    font-weight: 500;
    font-size: 2.8rem;
}
.of_our, .feature{
    font-weight: 700;
    font-size: 2.8rem;
}
.feature_descrption{
    font-weight: 400;
    font-size: 1rem;
}



.LoveEnjoy_container{
    display: flex;
    /* gap: 146px; */
    gap: 54px;
}

.feature_u_will{
    max-width: 586px;
}
.enjoy_title{
    font-weight: 700;
    font-size: 2.8rem;
    max-width: 468px;
    padding-left: 20px;
    border-left: 5px solid #FF900E;

}
.enjoy_content{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}
.love_cards{
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 35px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    /* border: 1px solid black; */
    /* height: 170px; */
}
.card_title{
    font-weight: 600;
    font-size: 1.25rem;
    /* max-width: 586px; */
     /* border: 1px solid black; */
     margin-bottom: 0px;
     margin-top: 0px;
}
.card_content{
    font-weight: 400;
    font-size: 1rem; 
}



.loveimgBtn_cont{
    max-width: 800px;
    max-height: 1059px;
    padding-left: 70px;
    /* border: 1px solid black; */
}
.archi_img{
    width: 100%;
    margin-bottom: 77px;
}
.love_bttn_container{
    margin-top: -162px;
    margin-left: -70px;
    
}
.love_bttn{
    width: 342px;
    height: 200px;
}
.btn_primary_10{
    font-weight: 700;
    font-size: 4.06rem;
}
.btn_primary_exp{
    font-weight: 500;
    font-size: 1.6rem;
}








.some_fects_container{
    max-width: 540px;
}
.facts_title{
    font-weight: 700;
    font-size: 2.8rem;
    /* border: 1px solid black; */
    margin-bottom: 0%;
    
}
.facts_description{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 100px;
    /* border: 1px solid black; */
    /* margin-top: 0%; */

}
.facts_boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 50px;
   
}
.box1_sample{
    width: 240px;
    height: 240px;

    display: flex;
    justify-content: center;
    align-items: center;  /*without padding evabeo center kors jy grid use krle*/
    text-align: center;

    border: 1px solid #FF900E;
    border-radius: 8px;
}
.box1_title{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 0%;
    
}
.box1_des{
    font-weight: 600;
    font-size: 1.2rem;
    
}




.sponser_title_container{
    max-width: 540px;
    text-align: center;
     margin: 50px auto;     /*eta dileo center hy*/

}
.sponser_title{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 0%;
}
.spon_desc{
    font-weight: 400;
    font-size: 1rem;
}
.spon_img_con{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.spon_img_con{
    filter: grayscale(100%);
}

footer{
    margin-top: 130px;
    background-color: #FFF4E7;
    padding: 39px 300px;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}







/*Responsive Media Query for small sz*/
@media screen and (max-width: 576px) {
    /*Header*/
    .navbar, 
    .nav_ul,
    .teams_feature{
        flex-direction: column;
    }

    /*Main*/
    .team_img_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our_feature{
        margin-left: 20px;
    }

    .LoveEnjoy_container{
        flex-direction: column;
    }
    
    .facts_boxes{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        justify-items: center;
        margin-left: 0px;
    }


    .spon_img_con{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
        justify-items: center;
        
    }


    footer{
        padding: 20px 10px;
        text-align: center;
    }
}

/*Responsive Media Query for medium sz*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        margin-right: 0px;
    }


    .teams_feature{
        flex-direction: column;
    }
    .our_feature{
       /* margin-left: 0px; self*/
       /* padding-right: 20%;  self*/
        /* border: 1px solid black; */
        margin: 20px auto;
    }

    .loveimgBtn_cont{
        margin-top: 380px;   /*image ta jhankar vai small sz er jnno 100% e krse r button normally niche rakhse */
    }
    .love_bttn{
    width: 300px;
    height: 150px;
    }
    .love_bttn_container{
        margin-top: -140px;
    }

    .facts_boxes{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
       justify-items: center;
    }


    .spon_img_con{
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        justify-items: center;
    }


      footer{
        padding: 20px 10px;
        text-align: center;
    }
}
